@page
@model IndexModel
@{
    Layout = "Shared/_Layout";
     ViewData["title"] = "Home page";
}
<main class="main default space-top-10">
    @await Component.InvokeAsync("Slide")
    <div class="container space-top-50 ">
        <div class="row space-bottom-30">
            <div class="col-sm-6">
                <div class="row">
                    <div class=" col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/1.png" class="minilogo_w">
                            <b class="title-3 light-black">مَسای مارکت</b>
                        </div>
                    </div>
                    <div class="col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/2.png" class="minilogo_w">
                            <b class="title-3 light-black">حراج مَسای</b>
                        </div>
                    </div>
                    <div class="col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/3.png" class="minilogo_w">
                            <b class="title-3 light-black">خرید اقساطی</b>
                        </div>
                    </div>
                    <div class=" col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/4.png" class="minilogo_w">
                            <b class="title-3 light-black">مَسای سرویس</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-3   contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/5.png" class="minilogo_w">
                            <b class="title-3 light-black">ماه رمضان</b>
                        </div>
                    </div>
                    <div class="col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/6.png" class="minilogo_w">
                            <b class="title-3 light-black">مَسای پلاس</b>
                        </div>
                    </div>
                    <div class="col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/7.png" class="minilogo_w">
                            <b class="title-3 light-black">هدیه خرید</b>
                        </div>
                    </div>
                    <div class="col-3  contact-miniicon  text-center">
                        <div class="space-5">
                            <img src="~/Theme/assets/img/Masai/minilogo/8.png" class="minilogo_w">
                            <b class="title-3 light-black">بیشتر</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             @await Component.InvokeAsync("LatestArrivals")
            <div class="col-12">
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-5.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-6.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                @await Component.InvokeAsync("AmazingProducts") 
                <div class="row banner-ads">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="widget-banner card border_all">
                                    <a href="category-search.html" target="_blank">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-7.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="widget-banner card">
                                    <a href="category-search.html" target="_top">
                                        <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-8.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="widget widget-product card border_all bglight">
                            <header class="card-header">
                                <h3 class="card-title">
                                    <span><img src="~/Theme/assets/img/seller_1.png" /></span>
                                </h3>
                            </header>
                            <div class="product-carousel owl-carousel owl-theme">
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_9.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی شیائومی مدل Poco X4 Pro 5G </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>13,159,000<span>تومان</span></span></del>
                                        <span class="discount_badge">5%</span>
                                        <ins><span>12,000,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_7.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#">  گوشی اپل مدل Iphone 13 Pro Max  </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>72,990,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>68,280,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_15.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل سامسونگ گلکسی A32 </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>18,799,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>
                                        <ins><span>16,699,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_17.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل سامسونگ گلکسی A23</a>
                                    </h2>
                                    <div class="price">
                                        <span>15,780,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_19.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#"> گوشی موبایل ردمی نوت 11SE شیائومی </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>25,156,000<span>تومان</span></span></del>
                                        <span class="discount_badge">2%</span>

                                        <ins><span>16,255,000<span>تومان</span></span></ins>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_21.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#">  اپل مدل Iphone 14 Pro Max </a>
                                    </h2>
                                    <div class="price">
                                        <span>79,279,000<span>تومان</span></span>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="~/Theme/assets/img/product_img/p_20.jpg" class="img-fluid" alt="">
                                    </a>
                                    <h2 class="product_title">
                                        <a href="#">  گوشی موبایل ردمی نوت 15  شیائومی  </a>
                                    </h2>
                                    <div class="price">
                                        <span>28,450,000<span>تومان</span></span>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="view_more">مشاهده بیشتر  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row banner-ads">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="widget widget-banner card border_all">
                            <a href="category-search.html" target="_blank">
                                <img class="img-fluid" src="~/Theme/assets/img/banner_img/img-9.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("ProductCategory")
        <div class="row">
            <div class="col-12">
                <div class="brand-slider card border_all bglight">
                    <header class="card-header">
                        <h3 class="card-title"><span>محبوب‌ترین برندها</span></h3>
                    </header>
                    <div class="owl-carousel">
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-1.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-2.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-3.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-4.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-5.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-6.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-7.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-8.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-9.jpg" alt=""> </a>
                        </div>
                        <div class="item borderitem">
                            <a href="#"> <img src="~/Theme/assets/img/brands/brand-10.jpg" alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section FooterSectionInIndex {
    @await Component.InvokeAsync("Footer")

}
