
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">منو</li>
    <li class="dashboard-default">
        <a asp-page="/Index">
            <i class="fa fa-dashboard"></i> <span>داشبرد</span> 
        </a>
    </li>
    <li class="menu-item">
        <a asp-page="/Comments/Index">
            <i class="fa fa-comment-o"></i><span>کامنت ها</span>
        </a>
    </li> 
    <li class="menu-item">
        <a asp-page="/Inventory/Index">
            <i class="fa fa-archive"></i><span>انبارداری</span>
        </a>
    </li> 
    <li class="treeview">
        <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span>فروشگاه</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-page="/Shop/Slides/Index"><i class="fa fa-sliders"></i> اسلایدر </a></li>
            <li><a asp-page="/Shop/ProductCategories/Index"><i class="fa fa-th-large"></i>گروه محصولات </a></li>
            <li><a asp-page="/Shop/Products/Index"><i class="fa fa-cubes"></i> محصولات </a></li>
            <li><a asp-page="/Shop/ProductPictures/Index"><i class="fa fa-image"></i>عکس محصولات</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-percent"></i>
            <span>سیستم تخفیفات</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-page="/Discounts/CustomerDiscounts/Index"><i class="fa fa-users"></i> تخفیف مشتری</a></li>
            <li><a asp-page="/Discounts/ColleagueDiscounts/Index"><i class="fa fa-users"></i> تخفیف همکاری</a></li>
        </ul>
    </li>
</ul>

